<div class="modal-header">
  <span class="close">&times;</span>
  <h4 class="modal-title" id="myModalLabel">Edit Tweete     <span id="update_notice"></span></h4>

</div>
<div class="modal-body">
  <%= form_for([@users, post] ,:remote=>true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Previous_tweet %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>



